<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/show_style.css') }}">
    <title>Users Info</title>
</head>
<body>
    <header class="titulo"><h1>All Users</h1></header>
    <table class="table table-dark table-striped"> 
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        {% for user in users: %}
            <tr>
                <th>{{ user.id }}</th>
                <th>{{ user.first_name + ' ' + user.last_name }}</th>
                <th>{{ user.email }}</th>
                <th>{{ user.created_at }}</th>
                <th>
                    <a href="/user/{{ user.id }}">Show |</a>
                    <a href="/user/{{ user.id }}/edit">Edit |</a>
                    <a href="/user/{{ user.id }}/delete">Delete</a>
                </th>
            </tr>
        {% endfor %}
    </table>
    <button><a href="/">Add a new user</a></button>
</body>
</html>